
  <div class="content" role="main">
    
    <h1>
      Welcome to myFlix!
    </h1>

    <div class="buttonContainer">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
      >
        Sign Up
      </button>
      
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
      >
        Login
      </button>
    </div>

    <footer>
        Interested in my other projects?&nbsp;
        <a href="https://github.com/Tina2010" target="_blank" rel="noopener"> Visit my GitHub-Page!
        </a>
    </footer>
  
  </div>
  
  <router-outlet></router-outlet>
  