.example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar {
  background-color: #274b24;
  color: white;
  font-weight: 600;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
  color: white;
  vertical-align: middle;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}