<div class="movies-wrapper">
    <mat-card *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title>{{
          movie.Title
        }}</mat-card-title>

        <button class="favorites" *ngIf="!setFavoriteStatus(movie._id)" mat-button (click)="addToFavs(movie._id)">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button class="favorites" *ngIf="setFavoriteStatus(movie._id)" mat-button
          (click)="removeFavoriteMovie(movie._id, movie.Title)">
          <mat-icon>favorite</mat-icon>
        </button>

        <mat-card-subtitle
          >Directed by: {{movie.Director[0].Name}}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content
        ><img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}"
      /></mat-card-content>
      
      <mat-card-actions>
        <button
          mat-raised-button
          (click)="openGenreDialog(
                movie.Genre[0].Name, 
                movie.Genre[0].Description
              )"
        >
          Genre
        </button>

        <button
          mat-raised-button
          (click)="
            openDirectorDialog(
                movie.Director[0].Name,
                movie.Director[0].Bio
            )"
        >
          Director
        </button>

        <button mat-raised-button
          (click)="openSynopsisDialog(
              movie.Title, 
              movie.Description
            )">
          Synopsis
        </button>

      </mat-card-actions>
    </mat-card>
  </div>